<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/styles/product.css">
</head>
<body>
   


        <main class="content">
          <form action="/owner/proinfo" method="post">

       
            <h1>Create New Product</h1>
          
             
                <input type="text" placeholder="Product" name="name">
                <div class="price-section">
                    <input type="text" placeholder="Product Price" name="price">
                    <input type="text" placeholder="Discount Price" name="discount">
                </div>
            </div>

            <div class="form-section">
                <h2>Panel Details</h2>
                <input type="text" placeholder="Background Color" name="bgcolor">
                <input type="text" placeholder="Panel Color" name="panelcolor">
                <input type="text" placeholder="Text Color" name="textcolor">
            </div>

            <input class="button" type="submit" value="Submit">
            </form>

        </main>

</body>
</html>
