<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/login-register.css">
 
  
</head>
<body>
  <div class="parent">

  
  <div class="login-register">
    <h1>Register here</h1>
  <form action="/register" method="post">

    <input type="text" name="username" placeholder="Enter username" required> <br>
    <input type="text" name="email" placeholder="E-mail" required> <br>
    <input type="password" name="password", placeholder="Password" required><br>

    <div class="myButton">
      <button>Submit</button>
    </div>
  </form>

    </div>

  <div class="login-register">
    <h1>Login here</h1>
  <form action="/login" method="post">

    <input type="text" name="email" placeholder="E-mail" required
required
required> <br>
    <input type="password" name="password", placeholder="Password" required
required
required><br>
<div class="myButton">

  <button>Submit</button>
</div>
  </form>

    </div>

</div>
</body>
</html>